<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Java course/1qa/v.hlud">
        <classes>
            <class name="test.VKTest">
                <methods>
                    <include name="actionsWithVKApi"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>